body {
    text-align: center;
}

#school-photo {
    width: 1000px;
    height: 500px;
}
#school-map {
    width:100%;
}
#contact_us {
    margin-top:50px;
}
#contactwriting {
    font-size:x-large;
}
#details-profile {
    background-color:#00ff21;
}
#library_photo {
    width:200px;
    height:200px;
}
#sfp {
    width:400px;
    height:100px;
}
